# Предсказание успешности стартапа

**Цель и задачи:** разработать модель для предсказания успешности стартапа (закроется или нет).

**План проекта**
1. Загрузка и ознакомление с данными

    1.1 Вывод

2. Предварительная обработка
3. Полноценный разведочный анализ
4. Разработка новых синтетических признаков,
5. Проверка на мультиколлинеарность,
6. Отбор финального набора обучающих признаков,
7. Выбор и обучение моделей,
8. Итоговая оценка качества предсказания лучшей модели,
9. Анализ важности ее признаков,

**Описание данных**
Датасет состоит из двух файлов: тренировочный набор (около 53к записей) и тестовый набор (около 13к записей). Тренировочный набор содержит целевой признак status, указывающий на то, закрылся стартап или продолжает действовать. Временной период - '1970-01-01' по '2018-01-01'. Дата формирования выгрузки - '2018-01-01'

- kaggle_startups_train_01.csv - информация (53 000) стартапах, которые будут использоваться в качестве обучающих данных.
- kaggle_startups_test_01.csv - информация (13 000) стартапах, которые будут использоваться в качестве тестовых данных. Ваша задача - предсказать значение 'status' для каждого стартапа из этого датасета.
- name - идентификатор (название) стартапа в тестовом наборе.
- status - целевой признак. Для каждого стартапа предскажите категориальное значение соответствующее прогнозу ['operating', 'closed'].

**Описание полей данных**
- name - Название стартапа
- category_list - Список категорий, к которым относится стартап
- funding_total_usd - Общая сумма финансирования в USD
- status - Статус стартапа (закрыт или действующий)
- country_code - Код страны
- state_code - Код штата
- region - Регион
- city - Город
- funding_rounds - Количество раундов финансирования
- founded_at - Дата основания
- first_funding_at - Дата первого раунда финансирования
- last_funding_at - Дата последнего раунда финансирования
- closed_at - Дата закрытия стартапа (если применимо)
- lifetime - Время существования стартапа в днях

In [ ]:
!pip install phik -q

In [ ]:
!pip install Levenshtein -q

In [ ]:
!pip install ydata-profiling -q

In [85]:
!pip install pycountry -q

In [350]:
!pip install pycountry_convert -q

In [351]:
import os

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import phik
from phik.report import plot_correlation_matrix
from phik import report


from Levenshtein import distance

import webbrowser
from ydata_profiling import ProfileReport

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [352]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.4f}'.format)

## Загрузка и ознакомление с данными

Загружу тестовый и тренировачный датасет, также проверим лежат ли они в нужной директории. Если нет, то нужно будет проверить корректность расположения. У меня датасеты лежат в одной папке с тетрадкой.

In [388]:
#train = pd.read_csv('kaggle_startups_train_27042024.csv')
#test = pd.read_csv('kaggle_startups_test_27042024.csv')

pth1 = 'kaggle_startups_train_27042024.csv'
pth2 = 'kaggle_startups_test_27042024.csv'
    
    
if (os.path.exists(pth1)) and (os.path.exists(pth2)):
    train = pd.read_csv(pth1)
    test = pd.read_csv(pth2)
else:
    print('Error Data path')

Ошибки нет. Файлы лежат где нужно. Воспользуюсь библиотекой `ydata_profiling` для первичного анализа тренировочной и тестовых данных.

In [266]:
profile_train = ProfileReport(train, title='Тренировачные данные о стартапах')
profile_test = ProfileReport(test, title='Тестовые данные о стартапах')

In [152]:
#profile_train.to_notebook_iframe()

In [153]:
#profile_test.to_notebook_iframe()

In [7]:
profile_train.to_file('profile_train.html')
html_file_train_path =os.path.abspath('profile_train.html')
webbrowser.open(f'file://{html_file_train_path}')

C:\Users\ksyub\anaconda3\lib\site-packages\ydata_profiling\profile_report.py:363: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

True

In [8]:
profile_test.to_file('profile_test.html')
html_file_test_path =os.path.abspath('profile_test.html')
webbrowser.open(f'file://{html_file_test_path}')

C:\Users\ksyub\anaconda3\lib\site-packages\ydata_profiling\profile_report.py:363: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

True

## Вывод 

Датасет train содержит 52514 записей. Пропуски присутствуют в name (52513 записей)  category_list (50049 записей), funding_total_usd (42445 записей), country_code (47013 записей), state_code (45752 записей), region (46156 записей), city (46156 записей)- последние 2 столбца содержат одинаковое количество пропусков. Далее вижу, что опистельная статистика показывает минимальную сумму инвестирования стоставляет 1 $, что не очень выглядит правдоподобным, максимальная сумма также вызывает некоторые вопросы. Что касется самих данных стилистически названия столбцов выглядт верно. category_list содержит записи категорий, причем они состоят не только из основной категории, но и мультикатегорийных данных. state_code - состоит из числовых и буквенных обозначений (или состая из того и другого, например, GBR - C7), причем буквенные характерны только для США. Также в датасете есть столбцы с датами, приведем их в формат datetime. В тренировочном датасете отустствует lifetime, чтобы его добавить найду разницу между founded_at и closed_at, при этом в последнем столбце есть пропуски заменим их датой выгрузки датасета 2018-01-01
Аналогична ситуация и для датасета test.

Какой по итогу план для следующего шага предобработки данных у меня сложился?
1. Изменить формат соответсвющих столбцов на to_datetime. Пропуски в closed_at в тренировочной заполню датой выгрузки.
2. Нужно проверить на наличие дубликатов.
3. Посмотреть уникальные значения для всех категориальных признаков. 
3. Не просто удалить, заполнить или etc пропуски, а понять природу их появления, какая между ними связь.

## Предварительная обработка

Для начала нужно назначить столбец name - в качестве id-шника.

In [389]:
train.set_index('name', inplace = True)
test.set_index('name', inplace = True)

### Столбцы со временем

Приведу столбцы founded_at, first_funding_at, last_funding_at, closed_at в формат to_datetime.

In [390]:
def convert_columns_to_datetime(df, columns):
    for column in columns:
        df[column] = pd.to_datetime(df[column])
    return df

In [391]:
train = convert_columns_to_datetime(train, ['founded_at', 'first_funding_at', 'last_funding_at', 'closed_at'])
test = convert_columns_to_datetime(test, ['founded_at', 'first_funding_at', 'last_funding_at'])

Теперь заполню пропуски closed_at в тренировочном датасете.

In [392]:
train['closed_at'].fillna(pd.Timestamp('2018-01-01'), inplace=True)

C:\Users\ksyub\AppData\Local\Temp\ipykernel_13200\1691721088.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['closed_at'].fillna(pd.Timestamp('2018-01-01'), inplace=True)

Добавлю столбец в тренировочный датасет время существования стартапа в днях (lifetime) и удалю closed_at, т.к. далее он не понадобится.

In [393]:
train['lifetime'] = (train['closed_at'] - train['founded_at']).dt.days
train.drop(columns=['closed_at'], inplace=True)

**Вывод:** на этом шаге добавила столбец lifetime в тренировочный датасет и привела к нужному формату столбцы со временем.

### Дубликаты
Для начала посмотрю на наличие явных дубликатов в train, сколько их, какое процентное соотношение от общего числа они составляют.

In [394]:
print(f'Дубликаты в train', train.duplicated().sum())
print(f'В процентом соотношение от общего числа:', round((train.duplicated().sum() / len(train)), 4) * 100, f'%')

Дубликаты в train 10
В процентом соотношение от общего числа: 0.02 %

В тренировочном датасете 10 дубликатов, удалю их.

In [395]:
train = train.drop_duplicates()

**Вывод:** в тренировочном датасете было 0.02% дубликтов от общего числа строк. Было удалено 10 дубликтов.

### Исследование уникальных значений

Напишу функцию, которая выедет все столбцы с категориальными значениями. Выведу топ-50 для каждого категориального столбца, так уникальных значений много (например, в category_list).

In [396]:
def get_unique_value_counts(df, top_n=50):
    
    categorical_columns = df.select_dtypes(include=['object', 'category']).columns
    uniq_value_dict = {column: df[column].value_counts() for column in categorical_columns}
    
    for column, value_counts in uniq_value_dict.items():
       # Вычисление частот
        frequency = value_counts / len(df)
        
        # Создание DataFrame для вывода
        top_values = pd.DataFrame({
            'Value': value_counts.index,
            'Count': value_counts.values,
            'Frequency': frequency.values
        }).head(top_n)
        
        print(f"\nТоп-{top_n} значений в столбце '{column}':\n{top_values}")
    
    #uniq_value = df[column].value_counts()
    #print(f"Частотное распределение в столбце '{column}':\n{uniq_value.head(top_n)}")

In [397]:
get_unique_value_counts(train)

Топ-50 значений в столбце 'category_list':
                               Value  Count  Frequency
0                           Software   3206     0.0611
1                      Biotechnology   2905     0.0553
2                         E-Commerce   1063     0.0202
3                             Mobile    920     0.0175
4                   Clean Technology    892     0.0170
5                        Curated Web    851     0.0162
6                        Health Care    744     0.0142
7                Hardware + Software    733     0.0140
8                              Games    681     0.0130
9                Enterprise Software    671     0.0128
10               Health and Wellness    613     0.0117
11                     Manufacturing    604     0.0115
12                       Advertising    553     0.0105
13                         Education    422     0.0080
14                    Semiconductors    400     0.0076
15                           Finance    338     0.0064
16                       Real Estate    338     0.0064
17                        Consulting    330     0.0063
18                      Social Media    326     0.0062
19                          Security    317     0.0060
20                       Hospitality    278     0.0053
21                       Web Hosting    277     0.0053
22                         Analytics    261     0.0050
23                           Fashion    254     0.0048
24                        Technology    217     0.0041
25                           Medical    198     0.0038
26                            Travel    190     0.0036
27  Biotechnology|Health Diagnostics    186     0.0035
28                          Internet    168     0.0032
29                              News    165     0.0031
30                            Sports    151     0.0029
31                             Music    151     0.0029
32                              Apps    142     0.0027
33                         Messaging    132     0.0025
34                   Pharmaceuticals    130     0.0025
35                  EdTech|Education    129     0.0025
36                   Medical Devices    128     0.0024
37                Financial Services    128     0.0024
38                   Finance|FinTech    123     0.0023
39            Information Technology    123     0.0023
40                  Public Relations    117     0.0022
41                        Automotive    116     0.0022
42               Entertainment|Games    114     0.0022
43                            Search    108     0.0021
44                    Transportation    102     0.0019
45                       Photography     95     0.0018
46         Biotechnology|Health Care     93     0.0018
47                    Nanotechnology     78     0.0015
48                          Services     76     0.0014
49                            Design     73     0.0014

Топ-50 значений в столбце 'status':
       Value  Count  Frequency
0  operating  47589     0.9064
1     closed   4915     0.0936

Топ-50 значений в столбце 'country_code':
   Value  Count  Frequency
0    USA  29699     0.5657
1    GBR   2925     0.0557
2    CAN   1540     0.0293
3    IND   1276     0.0243
4    CHN   1240     0.0236
5    FRA    915     0.0174
6    DEU    834     0.0159
7    ISR    767     0.0146
8    ESP    607     0.0116
9    NLD    380     0.0072
10   AUS    379     0.0072
11   SWE    373     0.0071
12   RUS    369     0.0070
13   SGP    356     0.0068
14   BRA    355     0.0068
15   IRL    352     0.0067
16   ITA    321     0.0061
17   JPN    314     0.0060
18   KOR    299     0.0057
19   CHE    262     0.0050
20   CHL    252     0.0048
21   DNK    242     0.0046
22   FIN    227     0.0043
23   HKG    162     0.0031
24   BEL    158     0.0030
25   ARG    152     0.0029
26   TUR    143     0.0027
27   POL    120     0.0023
28   MEX    115     0.0022
29   NOR    112     0.0021
30   AUT    101     0.0019
31   IDN     89     0.0017
32   PRT     86     0.0016
33   BGR     86     0.0016
34   ARE     78     0.0015
35   NZL     77     0.0015
36   ZAF     71     0.0014
37   EST     65     0.0012
38   MYS     65     0.0012
39   CZE     53     0.0010
40   NGA     50     0.0010
41   PHL     49     0.0009
42   TWN     46     0.0009
43   HUN     45     0.0009
44   THA     45     0.0009
45   COL     44     0.0008
46   LVA     37     0.0007
47   UKR     36     0.0007
48   LTU     34     0.0006
49   PER     34     0.0006

Топ-50 значений в столбце 'state_code':
   Value  Count  Frequency
0     CA  10216     0.1946
1     NY   3112     0.0593
2     MA   2020     0.0385
3     TX   1562     0.0298
4     H9   1510     0.0288
5      7   1094     0.0208
6     FL   1038     0.0198
7     WA    997     0.0190
8      2    913     0.0174
9     IL    859     0.0164
10    PA    795     0.0151
11    CO    735     0.0140
12    ON    721     0.0137
13     5    630     0.0120
14    A8    601     0.0114
15    16    590     0.0112
16    VA    581     0.0111
17    GA    570     0.0109
18    NJ    560     0.0107
19    OH    520     0.0099
20    NC    501     0.0095
21    MD    492     0.0094
22    22    491     0.0094
23    11    423     0.0081
24    19    413     0.0079
25    12    405     0.0077
26     4    392     0.0075
27    TN    377     0.0072
28    UT    369     0.0070
29    MN    352     0.0067
30    MI    344     0.0066
31    23    342     0.0065
32    AZ    336     0.0064
33    BC    329     0.0063
34    OR    322     0.0061
35    13    320     0.0061
36    CT    320     0.0061
37     9    318     0.0061
38    48    267     0.0051
39    QC    259     0.0049
40    40    255     0.0049
41    56    248     0.0047
42    26    239     0.0046
43     1    236     0.0045
44    MO    232     0.0044
45     3    228     0.0043
46    25    222     0.0042
47    10    221     0.0042
48    NV    220     0.0042
49    IN    217     0.0041

Топ-50 значений в столбце 'region':
               Value  Count  Frequency
0        SF Bay Area   6967     0.1327
1      New York City   2776     0.0529
2             Boston   1890     0.0360
3             London   1840     0.0350
4        Los Angeles   1513     0.0288
5            Seattle    955     0.0182
6   Washington, D.C.    817     0.0156
7            Chicago    778     0.0148
8          San Diego    703     0.0134
9             Austin    652     0.0124
10            Denver    638     0.0122
11           Toronto    591     0.0113
12          Tel Aviv    571     0.0109
13             Paris    546     0.0104
14           Atlanta    538     0.0102
15            Newark    472     0.0090
16            Dallas    468     0.0089
17           Beijing    464     0.0088
18      Philadelphia    434     0.0083
19           Anaheim    405     0.0077
20    Salt Lake City    350     0.0067
21         Singapore    343     0.0065
22         Bangalore    340     0.0065
23           Raleigh    326     0.0062
24       Minneapolis    319     0.0061
25           Houston    305     0.0058
26          Hartford    298     0.0057
27         New Delhi    287     0.0055
28           Phoenix    282     0.0054
29          Shanghai    276     0.0053
30  Portland, Oregon    267     0.0051
31            Moscow    265     0.0050
32         Vancouver    262     0.0050
33           Detroit    255     0.0049
34             Seoul    253     0.0048
35          Santiago    248     0.0047
36            Dublin    243     0.0046
37        Pittsburgh    240     0.0046
38            Mumbai    240     0.0046
39             Tokyo    235     0.0045
40         Baltimore    232     0.0044
41         Barcelona    227     0.0043
42         Nashville    221     0.0042
43             Miami    213     0.0041
44         Stockholm    209     0.0040
45            Berlin    198     0.0038
46          Montreal    198     0.0038
47            Madrid    192     0.0037
48       GBR - Other    185     0.0035
49             Tampa    180     0.0034

Топ-50 значений в столбце 'city':
            Value  Count  Frequency
0   San Francisco   2824     0.0538
1        New York   2486     0.0473
2          London   1514     0.0288
3          Austin    609     0.0116
4       Palo Alto    605     0.0115
5     Los Angeles    604     0.0115
6         Seattle    592     0.0113
7         Chicago    546     0.0104
8       Cambridge    542     0.0103
9          Boston    508     0.0097
10          Paris    485     0.0092
11      San Diego    480     0.0091
12        Beijing    464     0.0088
13  Mountain View    463     0.0088
14        Toronto    429     0.0082
15       San Jose    359     0.0068
16      Sunnyvale    358     0.0068
17        Atlanta    346     0.0066
18      Singapore    341     0.0065
19      Bangalore    307     0.0058
20    Santa Clara    299     0.0057
21         Moscow    268     0.0051
22      San Mateo    265     0.0050
23         Dublin    263     0.0050
24       Shanghai    259     0.0049
25       Tel Aviv    259     0.0049
26   Redwood City    256     0.0049
27          Seoul    253     0.0048
28   Santa Monica    252     0.0048
29      Vancouver    246     0.0047
30        Houston    242     0.0046
31         Mumbai    240     0.0046
32       Santiago    236     0.0045
33      Barcelona    227     0.0043
34       Portland    220     0.0042
35         Denver    216     0.0041
36     Washington    216     0.0041
37          Tokyo    215     0.0041
38         Dallas    214     0.0041
39     Pittsburgh    207     0.0039
40     Menlo Park    207     0.0039
41        Boulder    192     0.0037
42         Irvine    191     0.0036
43         Berlin    187     0.0036
44         Madrid    182     0.0035
45       Brooklyn    180     0.0034
46       Montréal    180     0.0034
47      Stockholm    179     0.0034
48      São Paulo    164     0.0031
49      Amsterdam    159     0.0030

In [398]:
get_unique_value_counts(test)

Топ-50 значений в столбце 'category_list':
                               Value  Count  Frequency
0                           Software    775     0.0590
1                      Biotechnology    693     0.0528
2                         E-Commerce    263     0.0200
3                             Mobile    255     0.0194
4                   Clean Technology    234     0.0178
5                        Curated Web    191     0.0146
6                Hardware + Software    181     0.0138
7                              Games    180     0.0137
8                        Health Care    176     0.0134
9                Enterprise Software    169     0.0129
10                     Manufacturing    157     0.0120
11               Health and Wellness    148     0.0113
12                       Advertising    141     0.0107
13                           Finance    106     0.0081
14                         Education    101     0.0077
15                    Semiconductors     96     0.0073
16                          Security     87     0.0066
17                        Consulting     87     0.0066
18                       Real Estate     83     0.0063
19                       Web Hosting     80     0.0061
20                      Social Media     79     0.0060
21                       Hospitality     75     0.0057
22                         Analytics     69     0.0053
23                           Fashion     62     0.0047
24                           Medical     57     0.0043
25                        Technology     52     0.0040
26                          Internet     47     0.0036
27                            Travel     45     0.0034
28               Entertainment|Games     41     0.0031
29                  Public Relations     40     0.0030
30                         Messaging     39     0.0030
31            Information Technology     38     0.0029
32  Biotechnology|Health Diagnostics     38     0.0029
33                    Transportation     37     0.0028
34                   Medical Devices     37     0.0028
35                  EdTech|Education     35     0.0027
36                Financial Services     34     0.0026
37                              Apps     34     0.0026
38                          Services     33     0.0025
39                              News     32     0.0024
40                             Music     31     0.0024
41                   Finance|FinTech     29     0.0022
42                        Nonprofits     28     0.0021
43                            Sports     27     0.0021
44                   Pharmaceuticals     27     0.0021
45                            Search     27     0.0021
46                       Photography     24     0.0018
47                        Automotive     22     0.0017
48                    Nanotechnology     21     0.0016
49         Biotechnology|Health Care     18     0.0014

Топ-50 значений в столбце 'country_code':
   Value  Count  Frequency
0    USA   7428     0.5659
1    GBR    725     0.0552
2    CAN    369     0.0281
3    IND    307     0.0234
4    CHN    301     0.0229
5    DEU    237     0.0181
6    FRA    213     0.0162
7    ISR    190     0.0145
8    ESP    134     0.0102
9    AUS    120     0.0091
10   NLD    112     0.0085
11   JPN     93     0.0071
12   SGP     91     0.0069
13   RUS     87     0.0066
14   BRA     85     0.0065
15   IRL     83     0.0063
16   CHL     80     0.0061
17   ITA     79     0.0060
18   SWE     75     0.0057
19   CHE     69     0.0053
20   DNK     68     0.0052
21   KOR     61     0.0046
22   FIN     52     0.0040
23   HKG     47     0.0036
24   BEL     45     0.0034
25   TUR     34     0.0026
26   AUT     32     0.0024
27   ARG     31     0.0024
28   POL     29     0.0022
29   MEX     27     0.0021
30   PRT     26     0.0020
31   NOR     22     0.0017
32   UKR     21     0.0016
33   NZL     21     0.0016
34   ZAF     20     0.0015
35   EST     18     0.0014
36   IDN     18     0.0014
37   MYS     17     0.0013
38   CZE     16     0.0012
39   BGR     15     0.0011
40   PHL     14     0.0011
41   ARE     14     0.0011
42   COL     13     0.0010
43   PER     11     0.0008
44   VNM     11     0.0008
45   LUX     10     0.0008
46   JOR     10     0.0008
47   GRC     10     0.0008
48   TWN     10     0.0008
49   THA      9     0.0007

Топ-50 значений в столбце 'state_code':
   Value  Count  Frequency
0     CA   2552     0.1944
1     NY    789     0.0601
2     MA    487     0.0371
3     TX    410     0.0312
4     H9    382     0.0291
5      7    306     0.0233
6     WA    258     0.0197
7     FL    249     0.0190
8      2    237     0.0181
9     CO    216     0.0165
10    IL    201     0.0153
11    PA    191     0.0146
12    ON    187     0.0142
13     5    154     0.0117
14    VA    146     0.0111
15    NJ    145     0.0110
16    A8    142     0.0108
17    16    140     0.0107
18    GA    129     0.0098
19    NC    125     0.0095
20    OH    124     0.0094
21    22    120     0.0091
22     4    119     0.0091
23    MD    116     0.0088
24    19    112     0.0085
25    TN    109     0.0083
26    12    105     0.0080
27    MI     96     0.0073
28    11     95     0.0072
29    23     89     0.0068
30    MN     88     0.0067
31    UT     88     0.0067
32     9     87     0.0066
33    AZ     85     0.0065
34    BC     79     0.0060
35    40     76     0.0058
36    17     75     0.0057
37    13     71     0.0054
38    CT     71     0.0054
39    48     67     0.0051
40    OR     67     0.0051
41     1     64     0.0049
42    QC     55     0.0042
43    MO     54     0.0041
44    56     53     0.0040
45     3     52     0.0040
46    DC     50     0.0038
47    IN     50     0.0038
48    29     48     0.0037
49    WI     48     0.0037

Топ-50 значений в столбце 'region':
               Value  Count  Frequency
0        SF Bay Area   1750     0.1333
1      New York City    712     0.0542
2             London    481     0.0366
3             Boston    460     0.0350
4        Los Angeles    343     0.0261
5            Seattle    247     0.0188
6   Washington, D.C.    203     0.0155
7             Denver    190     0.0145
8          San Diego    186     0.0142
9            Chicago    184     0.0140
10            Austin    167     0.0127
11           Toronto    149     0.0114
12          Tel Aviv    143     0.0109
13            Dallas    134     0.0102
14             Paris    132     0.0101
15            Newark    125     0.0095
16           Atlanta    120     0.0091
17           Beijing    112     0.0085
18      Philadelphia    107     0.0082
19         Bangalore     90     0.0069
20           Anaheim     89     0.0068
21         Singapore     87     0.0066
22    Salt Lake City     86     0.0066
23          Santiago     79     0.0060
24           Houston     77     0.0059
25           Raleigh     76     0.0058
26         New Delhi     75     0.0057
27           Phoenix     73     0.0056
28       Minneapolis     73     0.0056
29             Tokyo     72     0.0055
30          Shanghai     69     0.0053
31           Detroit     68     0.0052
32          Hartford     67     0.0051
33            Moscow     66     0.0050
34         Nashville     64     0.0049
35         Vancouver     63     0.0048
36  Portland, Oregon     61     0.0046
37            Dublin     56     0.0043
38         Amsterdam     55     0.0042
39         Baltimore     55     0.0042
40        Pittsburgh     54     0.0041
41            Mumbai     52     0.0040
42            Berlin     52     0.0040
43            Sydney     51     0.0039
44         Barcelona     49     0.0037
45             Miami     47     0.0036
46             Seoul     47     0.0036
47         Cleveland     46     0.0035
48          Montreal     45     0.0034
49       GBR - Other     43     0.0033

Топ-50 значений в столбце 'city':
            Value  Count  Frequency
0   San Francisco    656     0.0500
1        New York    641     0.0488
2          London    384     0.0293
3          Austin    159     0.0121
4       Palo Alto    155     0.0118
5         Seattle    152     0.0116
6     Los Angeles    144     0.0110
7          Boston    140     0.0107
8       San Diego    136     0.0104
9       Cambridge    133     0.0101
10        Chicago    132     0.0101
11  Mountain View    130     0.0099
12          Paris    116     0.0088
13        Beijing    112     0.0085
14       San Jose    111     0.0085
15      Sunnyvale     97     0.0074
16        Toronto     95     0.0072
17      Singapore     87     0.0066
18      Bangalore     82     0.0062
19        Atlanta     77     0.0059
20       Santiago     71     0.0054
21      San Mateo     68     0.0052
22         Dublin     66     0.0050
23         Moscow     66     0.0050
24    Santa Clara     66     0.0050
25          Tokyo     66     0.0050
26       Shanghai     64     0.0049
27        Houston     63     0.0048
28        Boulder     61     0.0046
29       Tel Aviv     59     0.0045
30      Vancouver     58     0.0044
31   Redwood City     57     0.0043
32     Menlo Park     56     0.0043
33   Santa Monica     56     0.0043
34         Denver     55     0.0042
35         Mumbai     52     0.0040
36      Amsterdam     51     0.0039
37     Washington     51     0.0039
38   Philadelphia     51     0.0039
39      Barcelona     49     0.0037
40         Dallas     48     0.0037
41          Seoul     47     0.0036
42      Nashville     47     0.0036
43       Portland     47     0.0036
44         Berlin     47     0.0036
45         Madrid     44     0.0034
46     Pittsburgh     43     0.0033
47         Irvine     42     0.0032
48         Sydney     41     0.0031
49       Montréal     41     0.0031

Визуально проверить уникальные значения достаточно сложно для этих датасетов, так число уникальных значений в категориальных достаточно велико. Как таковых явных ошибок в написание значений я не вижу. Стоит подумать, как укрупнить категории стартапов и страны, для столбцов state_code, region, city укрупление не несет какой-либо смысл.

Начну с более простого - страны. Считаю, что лучше разделить страны по экономическим регонам в мире
Для категорий укрупню их следующим образом: возьмем топ 50 остальные значения присвоим категорию Other. 
Но перд этим заполним пропуски с помощью пайплайна.

### Работа с пропусками

В датасетах есть пропуски в категориальных и количественном столбцах. В начале посмотрю наличие пропусков в category_list, funding_total_usd, country_code.

In [399]:
train[train['category_list'].isnull()]

,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,lifetime
name,,,,,,,,,,,,
Iberic Premium,NaN,107239.0000,closed,NaN,NaN,NaN,NaN,1,2013-01-07,2014-06-01,2014-06-01,929
Salesjob,NaN,NaN,closed,NaN,NaN,NaN,NaN,1,2013-01-01,2013-10-22,2013-10-22,670
Savasti,NaN,NaN,closed,NaN,NaN,NaN,NaN,1,2015-01-01,2015-01-01,2015-01-01,422
The Center from Health Promotion,NaN,10000000.0000,operating,NaN,NaN,NaN,NaN,1,2002-06-13,2003-11-12,2003-11-12,5681
Seamless Logistics,NaN,NaN,operating,NaN,NaN,NaN,NaN,1,2009-02-27,2011-02-01,2011-02-01,3230
...,...,...,...,...,...,...,...,...,...,...,...,...
Beach Bum,NaN,NaN,closed,NaN,NaN,NaN,NaN,1,2014-04-09,2015-05-18,2015-05-18,1087
"iSend, LLC",NaN,NaN,closed,NaN,NaN,NaN,NaN,1,2007-01-01,2008-05-28,2008-05-28,1232
Thermal Nomad,NaN,NaN,operating,USA,TX,Houston,Houston,1,2014-04-20,2014-05-28,2014-05-28,1352
Vision Software PTY,NaN,15000000.0000,operating,NaN,NaN,NaN,NaN,1,1998-12-25,1999-11-02,1999-11-02,6947
ScramCard,NaN,NaN,operating,HKG,NaN,Hong Kong,Hong Kong,1,2013-01-01,2015-11-20,2015-11-20,1826

In [400]:
train[train['country_code'].isnull()]

,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,lifetime
name,,,,,,,,,,,,
Sancilio and Company,Health Care,22250000.0000,operating,NaN,NaN,NaN,NaN,3,2004-01-01,2011-09-01,2014-07-18,5114
Iberic Premium,NaN,107239.0000,closed,NaN,NaN,NaN,NaN,1,2013-01-07,2014-06-01,2014-06-01,929
Purewine,Nanotechnology|Technology|Wine And Spirits,335000.0000,operating,NaN,NaN,NaN,NaN,2,2014-01-01,2014-08-28,2015-08-05,1461
paack,Customer Service|Delivery|Retail,30000.0000,operating,NaN,NaN,NaN,NaN,1,2014-03-30,2015-02-01,2015-02-01,1373
Salesjob,NaN,NaN,closed,NaN,NaN,NaN,NaN,1,2013-01-01,2013-10-22,2013-10-22,670
...,...,...,...,...,...,...,...,...,...,...,...,...
Plix,Advertising|Digital Media|Games|Social Media|T...,400000.0000,closed,NaN,NaN,NaN,NaN,1,2011-01-01,2012-01-01,2012-01-01,1047
ELabsEurope,Internet|Life Sciences|Medical,20000000.0000,closed,NaN,NaN,NaN,NaN,1,1999-08-01,2000-10-23,2000-10-23,843
Capcom groupe,Construction|Optical Communications|Telecommun...,10653150.2487,closed,NaN,NaN,NaN,NaN,1,2014-04-24,2015-09-29,2015-09-29,1068
Vision Software PTY,NaN,15000000.0000,operating,NaN,NaN,NaN,NaN,1,1998-12-25,1999-11-02,1999-11-02,6947
meetnlearn,Education,328393.0000,operating,NaN,NaN,NaN,NaN,2,2014-01-01,2014-07-09,2015-06-01,1461

In [401]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52504 entries, Lunchgate to Apparcando
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category_list      50046 non-null  object
 1   funding_total_usd  42443 non-null  float64
 2   status             52504 non-null  object
 3   country_code       47009 non-null  object
 4   state_code         45748 non-null  object
 5   region             46152 non-null  object
 6   city               46152 non-null  object
 7   funding_rounds     52504 non-null  int64
 8   founded_at         52504 non-null  datetime64[ns]
 9   first_funding_at   52504 non-null  datetime64[ns]
 10  last_funding_at    52504 non-null  datetime64[ns]
 11  lifetime           52504 non-null  int64
dtypes: datetime64[ns](3), float64(1), int64(2), object(6)
memory usage: 7.2+ MB

In [402]:
test[test['category_list'].isnull() & test['funding_total_usd'].isnull() & test['country_code'].isnull()]

,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,lifetime
name,,,,,,,,,,,
Indie Broadcast Network,NaN,NaN,NaN,NaN,NaN,NaN,1,2012-01-14,2013-07-17,2013-07-17,988
Desafío Táctico,NaN,NaN,NaN,NaN,NaN,NaN,1,2012-01-01,2013-08-02,2013-08-02,2192
Nemo,NaN,NaN,NaN,NaN,NaN,NaN,1,2013-03-18,2015-01-28,2015-01-28,1271
LaunchCenter 39,NaN,NaN,NaN,NaN,NaN,NaN,1,1998-02-18,2000-02-03,2000-02-03,1248
BorderX Lab,NaN,NaN,NaN,NaN,NaN,NaN,1,2014-09-16,2015-06-15,2015-06-15,989
...,...,...,...,...,...,...,...,...,...,...,...
PittMoss,NaN,NaN,NaN,NaN,NaN,NaN,1,2013-12-13,2015-04-17,2015-04-17,1480
UGIG,NaN,NaN,NaN,NaN,NaN,NaN,1,2009-06-30,2011-04-19,2011-04-19,3107
Himily,NaN,NaN,NaN,NaN,NaN,NaN,1,2013-11-01,2014-08-20,2014-08-20,728
Maboo,NaN,NaN,NaN,NaN,NaN,NaN,1,2014-10-10,2015-07-13,2015-07-13,938
Nysa Membrane Technologies,NaN,NaN,NaN,NaN,NaN,NaN,1,2006-02-19,2007-10-05,2007-10-05,4334

In [403]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52504 entries, Lunchgate to Apparcando
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category_list      50046 non-null  object
 1   funding_total_usd  42443 non-null  float64
 2   status             52504 non-null  object
 3   country_code       47009 non-null  object
 4   state_code         45748 non-null  object
 5   region             46152 non-null  object
 6   city               46152 non-null  object
 7   funding_rounds     52504 non-null  int64
 8   founded_at         52504 non-null  datetime64[ns]
 9   first_funding_at   52504 non-null  datetime64[ns]
 10  last_funding_at    52504 non-null  datetime64[ns]
 11  lifetime           52504 non-null  int64
dtypes: datetime64[ns](3), float64(1), int64(2), object(6)
memory usage: 7.2+ MB

In [404]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13125 entries, Crystalsol to RingCentral
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category_list      12534 non-null  object
 1   funding_total_usd  10547 non-null  float64
 2   country_code       11743 non-null  object
 3   state_code         11430 non-null  object
 4   region             11536 non-null  object
 5   city               11538 non-null  object
 6   funding_rounds     13125 non-null  int64
 7   founded_at         13125 non-null  datetime64[ns]
 8   first_funding_at   13125 non-null  datetime64[ns]
 9   last_funding_at    13125 non-null  datetime64[ns]
 10  lifetime           13125 non-null  int64
dtypes: datetime64[ns](3), float64(1), int64(2), object(5)
memory usage: 1.7+ MB

In [405]:
train_indices = train.index
test_indices = test.index

original_column_order = train.columns.tolist()

In [406]:
categorical_cols_with_unknown = ['region', 'state_code', 'city']
categorical_cols_most_frequent = ['category_list','country_code']
numerical_cols = ['funding_total_usd']

In [407]:
# Создание пайплайна для столбцов с пропусками, заполняемыми значением 'unknown'
unknown_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='unknown'))  # Заполнение пропусков значением 'unknown'
])

# Создание пайплайна для столбцов с пропусками, заполняемыми наиболее часто встречающимся значением
most_frequent_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent'))  # Заполнение пропусков наиболее часто встречающимся значением
])

# Создание пайплайна для количественных столбцов без масштабирования
numerical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median'))  # Заполнение пропусков медианой
])

In [408]:
# Применение пайплайнов к соответствующим столбцам
preprocessor = ColumnTransformer(
    transformers=[
        ('unknown_cat', unknown_pipeline, categorical_cols_with_unknown),
        ('most_frequent_cat', most_frequent_pipeline, categorical_cols_most_frequent),
        ('num', numerical_pipeline, numerical_cols)
    ],
    remainder='passthrough'  # Остальные столбцы остаются неизменными
)

In [409]:
# Объединение train и test данных для предварительной обработки
combined_data = pd.concat([train, test])

# Преобразование данных
combined_data_preprocessed = preprocessor.fit_transform(combined_data)

# Получение имен столбцов после преобразования
new_column_names = categorical_cols_with_unknown + categorical_cols_most_frequent + numerical_cols + [col for col in combined_data.columns if col not in (categorical_cols_with_unknown + categorical_cols_most_frequent + numerical_cols)]

# Преобразование обратно в DataFrame с сохранением индексов и имен столбцов
combined_data_preprocessed_df = pd.DataFrame(combined_data_preprocessed, index=combined_data.index, columns=new_column_names)

# Установка столбцов в исходный порядок
combined_data_preprocessed_df = combined_data_preprocessed_df.reindex(columns=original_column_order)

# Разделение обратно на train и test
train = combined_data_preprocessed_df.loc[train_indices]
test = combined_data_preprocessed_df.loc[test_indices].drop(columns=['status'])

# Ограниченный вывод для проверки
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52504 entries, Lunchgate to Apparcando
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category_list      52504 non-null  object
 1   funding_total_usd  52504 non-null  object
 2   status             52504 non-null  object
 3   country_code       52504 non-null  object
 4   state_code         52504 non-null  object
 5   region             52504 non-null  object
 6   city               52504 non-null  object
 7   funding_rounds     52504 non-null  object
 8   founded_at         52504 non-null  datetime64[ns]
 9   first_funding_at   52504 non-null  datetime64[ns]
 10  last_funding_at    52504 non-null  datetime64[ns]
 11  lifetime           52504 non-null  object
dtypes: datetime64[ns](3), object(9)
memory usage: 5.2+ MB

In [410]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13125 entries, Crystalsol to RingCentral
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category_list      13125 non-null  object
 1   funding_total_usd  13125 non-null  object
 2   country_code       13125 non-null  object
 3   state_code         13125 non-null  object
 4   region             13125 non-null  object
 5   city               13125 non-null  object
 6   funding_rounds     13125 non-null  object
 7   founded_at         13125 non-null  datetime64[ns]
 8   first_funding_at   13125 non-null  datetime64[ns]
 9   last_funding_at    13125 non-null  datetime64[ns]
 10  lifetime           13125 non-null  object
dtypes: datetime64[ns](3), object(8)
memory usage: 1.2+ MB

In [414]:
# Преобразование трехбуквенных кодов стран в объекты pycountry
train['country_code_alpha_3'] = train['country_code'].apply(lambda x: pycountry.countries.get(alpha_3=x))
test['country_code_alpha_3'] = test['country_code'].apply(lambda x: pycountry.countries.get(alpha_3=x))

In [416]:
# Создаем функцию для получения континента по трехбуквенному коду страны
def get_continent(country_code):
    try:
        # Получаем трехбуквенный код страны
        alpha_3 = country_code.alpha_3
        # Получаем континент по трехбуквенному коду страны
        return pc.country_alpha2_to_continent_code(pc.country_alpha3_to_country_alpha2(alpha_3))
    except AttributeError:
        # Если не удалось найти континент для данного кода страны, возвращаем None
        return None

# Применение функции к столбцу 'country_code' и создание нового столбца 'continent'
train['continent'] = train['country_code_alpha_3'].apply(get_continent)
test['continent'] = test['country_code_alpha_3'].apply(get_continent)

In [418]:
train['continent'].unique()

array(['EU', 'NA', 'AS', 'OC', 'SA', 'AF', None], dtype=object)

In [419]:
train[train['continent'].isnull()]

,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,lifetime,continent,country_code_alpha_3
name,,,,,,,,,,,,,,
GECAD ePayment,E-Commerce|Financial Services|Payments,2000000.0000,operating,ROM,10,Bucharest,Bucharest,1,2004-01-01,2004-01-01,2004-01-01,5114,None,None
GECAD NET,CAD|Information Technology|Web Design,1000.0000,operating,ROM,10,Bucharest,Bucharest,1,1999-01-01,1992-01-01,1992-01-01,6940,None,None
People Centric,Human Resources,2000000.0000,operating,ROM,10,Bucharest,Bucharest,1,2009-01-01,2007-10-15,2007-10-15,3287,None,None
PressLabs,Blogging Platforms|Web Hosting,100000.0000,operating,ROM,36,Timisoara,Timisoara,1,2009-11-01,2011-04-01,2011-04-01,2983,None,None
TxtFeedback,Mobile,38484.0000,operating,ROM,13,Cluj-Napoca,Cluj,1,2012-01-01,2013-04-03,2013-04-03,2192,None,None
Tjobs S.A.,Enterprise Software|Recruiting,668100.0000,operating,ROM,27,Cluj-Napoca,Targu-mures,3,2011-01-01,2011-01-01,2014-05-14,2557,None,None
SmartDreamers,Curated Web|Human Resources|Recruiting,2000000.0000,operating,ROM,27,Cluj-Napoca,Targu-mures,1,2013-01-01,2015-02-02,2015-02-02,1826,None,None
Style Jukebox,Audio|Cloud Computing|Consumers|Entertainment|...,310457.0000,operating,ROM,36,Timisoara,Timisoara,2,2012-01-01,2012-01-01,2014-05-07,2192,None,None
Ubongo,Technology,2000000.0000,operating,TAN,23,TZA - Other,Dar Es Salaam,1,2013-04-20,2015-01-16,2015-01-16,1717,None,None
Green Horse Games,Games,2000000.0000,operating,ROM,10,Bucharest,Bucharest,2,2013-05-30,2013-06-10,2015-01-20,1677,None,None
Access Point,Advertising|Brand Marketing|Design|Web Design|...,4500000.0000,operating,ROM,23,Iasi,Iasi,1,2008-08-22,2010-01-26,2010-01-26,3419,None,None
Renovatio IT Solutions,Apps|Games|Home Automation|Mobile|Software,30000.0000,operating,ROM,9,Bucharest,Brasov,1,2012-08-13,2014-08-28,2014-08-28,1967,None,None
Okyanos Heart Institute,Hospitality,8900000.0000,operating,BAH,25,BHS - Other,Freeport,1,2011-01-01,2014-03-20,2014-03-20,2557,None,None
Kinderpedia,Education|Mobile|Online Education|SaaS|Software,150000.0000,closed,ROM,13,Cluj-Napoca,Cluj-napoca,1,2006-06-20,2013-12-14,2013-12-14,3447,None,None
Elyssafregori,Enterprise Software|Small and Medium Businesses,2800000.0000,closed,TAN,18,TZA - Other,Nairobi,2,2013-10-06,2013-06-09,2013-07-01,457,None,None
DesignFace IT,Web Design|Web Development|Web Hosting,7566.0000,operating,ROM,19,ROM - Other,Targu Jiu,2,2013-08-13,2014-02-17,2014-11-01,1602,None,None
InternetCorp,Curated Web|News,2000000.0000,operating,ROM,10,Bucharest,Bucharest,1,2005-01-01,2009-11-25,2009-11-25,4748,None,None
Karibu Solar,Solar,17000.0000,operating,TAN,23,TZA - Other,Dar Es Salaam,1,2012-01-01,2014-05-01,2014-05-01,2192,None,None
4PSA,Cloud Computing|Messaging|Telephony|Unifed Com...,6500000.0000,operating,ROM,10,Bucharest,Bucharest,3,2002-02-18,2004-03-01,2013-05-09,5796,None,None
Blogvio,Curated Web|PaaS|SaaS|Social Media|Software,70000.0000,operating,ROM,23,Iasi,Iasi,1,2014-01-01,2013-01-01,2013-01-01,1461,None,None
Blue Security,Security,3000000.0000,operating,TAN,25,unknown,unknown,1,2004-01-01,2005-04-04,2005-04-04,5114,None,None
EDUS,Education|Social Network Media,688566.0000,operating,ROM,10,Bucharest,Bucharest,1,2013-01-01,2014-03-01,2014-03-01,1826,None,None
EGG Energy,Solar,2000000.0000,operating,TAN,23,TZA - Other,Kinondoni,1,2009-01-01,2009-12-16,2009-12-16,3287,None,None
UseTogether,Curated Web|Social Media,38484.0000,operating,ROM,13,Cluj-Napoca,Cluj,1,2012-08-15,2013-04-03,2013-04-03,1965,None,None
liveMag.ro,E-Commerce|Shopping,233100.0000,closed,ROM,10,Bucharest,Bucharest,1,2009-03-25,2008-05-01,2008-05-01,289,None,None
123ContactForm,E-Commerce|SaaS,1000000.0000,operating,ROM,36,Timisoara,Timisoara,2,2008-01-01,2010-01-01,2015-06-16,3653,None,None
Skin Scan,Biotechnology|Health and Wellness|Medical,68630.0000,operating,ROM,10,Bucharest,Bucharest,1,2010-10-01,2010-10-01,2010-10-01,2649,None,None
BitDefender,Software,7000000.0000,operating,ROM,10,Bucharest,Bucharest,1,2001-01-01,2007-12-06,2007-12-06,6209,None,None
ExigeApp,FinTech|Online Education,27748.8984,closed,ROM,10,Bucharest,Bucharest,1,2015-07-29,2015-07-10,2015-07-10,656,None,None
Axigen,Collaboration|Email|Linux|Messaging|Networking...,4940000.0000,operating,ROM,10,Bucharest,Bucharest,2,2001-02-15,2004-09-01,2007-11-14,6164,None,None
Off Grid Electric,Clean Technology,55000000.0000,operating,TAN,26,TZA - Other,Arusha,4,2011-01-01,2014-03-21,2015-10-22,2557,None,None
Skitsanos Automotive,Auto|Automotive|Cars|Computers|Consumer Electr...,48312.0000,operating,ROM,10,Bucharest,Bucharest,1,2014-01-01,2014-07-23,2014-07-23,1461,None,None
M-KOPA,Environmental Innovation|Mobile|Renewable Ener...,51450000.0000,operating,TAN,23,TZA - Other,Dar Es Salaam,3,2011-01-01,2014-02-06,2015-12-02,2557,None,None
Beetux Software,Cloud Computing|PaaS|Productivity Software|Sof...,50000.0000,operating,ROM,10,Bucharest,Bucharest,1,2011-02-18,2011-01-01,2011-01-01,2509,None,None
Wable Systems,Hardware + Software|Hotels|Mobile|Restaurants|...,50000.0000,operating,ROM,10,Bucharest,Bucharest,1,2013-01-01,2013-09-01,2013-09-01,1826,None,None
Minutizer,Finance|Messaging|P2P Money Transfer|Payments,20000.0000,operating,ROM,10,Bucharest,Bucharest,2,2013-05-01,2013-03-31,2013-03-31,1706,None,None
Glazeon,Advertising,40000.0000,operating,ROM,10,Bucharest,Bucharest,1,2011-01-01,2012-02-10,2012-02-10,2557,None,None
DCS Plus,Travel,2000000.0000,operating,ROM,10,Bucharest,Bucharest,1,2002-01-01,2015-05-05,2015-05-05,5844,None,None
Bahamaslocal.com,Advertising|Search,1200000.0000,operating,BAH,23,Bahamas,Nassau,1,2009-04-01,2008-01-01,2008-01-01,3197,None,None
Omnipaste,Mobile|Productivity Software,109381.0000,operating,ROM,33,Cluj-Napoca,Sibiu,1,2013-03-01,2014-07-01,2014-07-01,1767,None,None

import pycountry

#Создаем функцию для получения континента по трехбуквенному коду страны
def get_continent(country_code):
    try:
        # Получаем континент по трехбуквенному коду страны
        country = pycountry.countries.get(alpha_3=country_code)
        continent = country.continent.name
        return continent
    except AttributeError:
        # Если не удалось найти континент для данного кода страны, возвращаем None
        return None

In [415]:
train

,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,lifetime,continent,country_code_alpha_3
name,,,,,,,,,,,,,,
Lunchgate,Online Reservations|Restaurants,828626.0000,operating,CHE,25,Zurich,Zürich,2,2009-12-31,2011-05-01,2014-12-01,2923,None,"Country(alpha_2='CH', alpha_3='CHE', flag='🇨🇭'..."
EarLens,Manufacturing|Medical|Medical Devices,42935019.0000,operating,USA,CA,SF Bay Area,Redwood City,4,2005-01-01,2010-05-04,2014-02-25,4748,None,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'..."
Reviva Pharmaceuticals,Biotechnology,35456381.0000,operating,USA,CA,SF Bay Area,San Jose,3,2006-01-01,2012-08-20,2014-07-02,4383,None,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'..."
Sancilio and Company,Health Care,22250000.0000,operating,USA,unknown,unknown,unknown,3,2004-01-01,2011-09-01,2014-07-18,5114,None,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'..."
WireTough Cylinders,Manufacturing,2000000.0000,operating,USA,VA,VA - Other,Bristol,1,2010-09-30,2012-02-01,2012-02-01,2650,None,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Videostream,Entertainment,2000000.0000,operating,CAN,ON,Toronto,Kitchener,1,2012-01-01,2014-03-01,2014-03-01,2192,None,"Country(alpha_2='CA', alpha_3='CAN', flag='🇨🇦'..."
Hello Curry,Hospitality,500000.0000,operating,IND,2,Hyderabad,Hyderabad,1,2012-11-28,2014-03-07,2014-03-07,1860,None,"Country(alpha_2='IN', alpha_3='IND', flag='🇮🇳'..."
Taskforce,Email|Messaging|Productivity Software,50000.0000,operating,USA,CA,SF Bay Area,San Francisco,3,2010-07-01,2009-06-14,2011-01-01,2741,None,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'..."
NetScaler,Security,13000000.0000,operating,USA,CA,SF Bay Area,San Jose,6,1997-12-01,1998-11-30,2004-03-01,7336,None,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'..."
Apparcando,Online Rental|Parking|Price Comparison,270820.0000,operating,ESP,60,Valencia,Valencia,1,2013-11-03,2014-06-13,2014-06-13,1520,None,"Country(alpha_2='ES', alpha_3='ESP', flag='🇪🇸'..."

In [384]:
import pycountry_convert as pc

# Функция для преобразования трехбуквенного кода страны в континент
def get_continent(country_code):
    try:
        return pc.country_alpha2_to_continent_code(pc.country_alpha3_to_country_alpha2(country_code))
    except KeyError:
        return None

# Применение функции к столбцу 'country_code' и создание нового столбца 'continent'
train['continent'] = train['country_code'].apply(get_continent)
test['continent'] = test['country_code'].apply(get_continent)

TypeError: object of type 'Country' has no len()

In [387]:
train

,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,lifetime,continent
name,,,,,,,,,,,,,
Lunchgate,Online Reservations|Restaurants,828626.0000,operating,"Country(alpha_2='CH', alpha_3='CHE', flag='🇨🇭'...",25,Zurich,Zürich,2,2009-12-31,2011-05-01,2014-12-01,2923,EU
EarLens,Manufacturing|Medical|Medical Devices,42935019.0000,operating,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'...",CA,SF Bay Area,Redwood City,4,2005-01-01,2010-05-04,2014-02-25,4748,NA
Reviva Pharmaceuticals,Biotechnology,35456381.0000,operating,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'...",CA,SF Bay Area,San Jose,3,2006-01-01,2012-08-20,2014-07-02,4383,NA
Sancilio and Company,Health Care,22250000.0000,operating,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'...",unknown,unknown,unknown,3,2004-01-01,2011-09-01,2014-07-18,5114,NA
WireTough Cylinders,Manufacturing,2000000.0000,operating,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'...",VA,VA - Other,Bristol,1,2010-09-30,2012-02-01,2012-02-01,2650,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Videostream,Entertainment,2000000.0000,operating,"Country(alpha_2='CA', alpha_3='CAN', flag='🇨🇦'...",ON,Toronto,Kitchener,1,2012-01-01,2014-03-01,2014-03-01,2192,NA
Hello Curry,Hospitality,500000.0000,operating,"Country(alpha_2='IN', alpha_3='IND', flag='🇮🇳'...",2,Hyderabad,Hyderabad,1,2012-11-28,2014-03-07,2014-03-07,1860,AS
Taskforce,Email|Messaging|Productivity Software,50000.0000,operating,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'...",CA,SF Bay Area,San Francisco,3,2010-07-01,2009-06-14,2011-01-01,2741,NA
NetScaler,Security,13000000.0000,operating,"Country(alpha_2='US', alpha_3='USA', flag='🇺🇸'...",CA,SF Bay Area,San Jose,6,1997-12-01,1998-11-30,2004-03-01,7336,NA
Apparcando,Online Rental|Parking|Price Comparison,270820.0000,operating,"Country(alpha_2='ES', alpha_3='ESP', flag='🇪🇸'...",60,Valencia,Valencia,1,2013-11-03,2014-06-13,2014-06-13,1520,EU

In [342]:
print(train['country_code'].unique())

['CHE' 'USA' 'GBR' 'RUS' 'ESP' 'FRA' 'SWE' 'IND' 'KOR' 'AUS' 'TWN' 'CHN'
 'HUN' 'CAN' 'FIN' 'BRA' 'EGY' 'PRT' 'ISR' 'CHL' 'SVK' 'NLD' 'ARG' 'ARE'
 'JPN' 'IRL' 'DEU' 'LBN' 'EST' 'IDN' 'BEL' 'MEX' 'DNK' 'ITA' 'GRC' 'ROM'
 'TUR' 'SGP' 'SAU' 'MYS' 'NGA' 'QAT' 'VNM' 'BGR' 'GHA' 'UGA' 'JOR' 'AUT'
 'PAK' 'NZL' 'HKG' 'ZAF' 'LVA' 'NOR' 'HRV' 'VEN' 'PER' 'LUX' 'SVN' 'POL'
 'PHL' 'NIC' 'CZE' 'ISL' 'PAN' 'URY' 'BGD' 'MCO' 'GTM' 'THA' 'TTO' 'UKR'
 'KEN' 'CRI' 'DZA' 'LTU' 'CYM' 'MUS' 'BLR' 'SLV' 'COL' 'MLT' 'PSE' 'BLZ'
 'CYP' 'MMR' 'MKD' 'KHM' 'GIB' 'SRB' 'DOM' 'BWA' 'BLM' 'PRY' 'BMU' 'TAN'
 'LIE' 'GRD' 'UZB' 'GEO' 'SEN' 'ALB' 'ECU' 'MOZ' 'LKA' 'LAO' 'TUN' 'HND'
 'ZWE' 'BAH' 'MDA' 'MAF' 'BHR' 'AZE' 'MAR' 'KWT' 'IRN' 'GGY' 'KNA' 'PRI'
 'OMN' 'KAZ' 'JAM' 'NPL' 'ARM' 'TGO' 'RWA' 'BRN' 'JEY' 'SOM' 'CMR' 'MNE'
 'SYC' 'ZMB']